.dial {
	color: $accent;
	text-shadow: inset 1px 1px 0 rgba(255, 255, 255, 1);
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 150px;
	margin: 50px 0;
	padding: 40px;
	box-shadow: 0 4px 15px -10px rgba(0, 0, 0, 0.1), 0 5px 15px 1px rgba(0, 0, 0, 0.18), 0 0 0 15px #fff,
		0 0 0 22px $accent, 0 55px 50px -20px rgba(34, 36, 38, 0.25);

	&-title {
		font-size: 3.8em;
		font-weight: 400;
		line-height: 0.8;
	}
	&-value {
		font-size: 1.8em;
	}
}
