@media only screen and (max-width: 840px) {
	html,
	body {
		height: auto;
	}

	body {
		align-items: initial;
		margin-top: 0;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: hsl(200, 19%, 13%);
		--secondary: hsl(174, 29%, 33%);
		--white: hsl(200, 19%, 15%);
		--black: #bababa;
		--gray-100: hsl(200, 19%, 10%);
		--gray-200: hsl(200, 19%, 20%);
		--gray-500: hsl(200, 19%, 50%);
		--gray-800: hsl(200, 19%, 80%);
	}
}
