.progress {
	display: flex;
	background: rgba(0, 0, 0, 0.1);
	min-height: 12px;
	overflow: hidden;

	&-bar {
		width: 0;
		transition: width 4s ease-out;
		background-color: lighten($accent, 10%);
		min-height: 10px;
	}
}
