.statistics {
	display: flex;
	justify-content: center;

	.statistic {
		padding: 0px 20px;
		min-width: 120px;
		&:not(:last-child) {
			box-shadow: 20px 0px 0px -19px rgba(255, 255, 255, 0.2);
		}

		&-title {
			font-size: 1.5em;
		}
		&-value {
			color: $accent;
			font-size: 2em;
		}
	}
}
