/*

# Include
!/src
!/static/
!/static/assets/
!/static/assets/img/
!/static/assets/img/opengraph.jpg
!/static/assets/img/twitter.jpg
!/tests
!/.artillery.yml
!/.env.dist
!/.travis.yml
!/app.config.js
!/gridsome.server.js
!/gridsome.config.js
!/package.json
!/README.md
!/tsconfig.json
!/yarn.lock

# Exlude everywhere
*.log
.cache
.DS_Store
src/.temp
!/static/service-worker.js
