.leaderboard {
	counter-reset: leaderboard-counter;

	dt {
		position: relative;
		padding-left: 40px;
		margin-bottom: 10px;

		&:before {
			content: counter(leaderboard-counter);
			counter-increment: leaderboard-counter;
			position: absolute;
			left: 0;
			top: 0;
			font-size: 1.2rem;
			line-height: 0.8;
			font-weight: var(--font-weight-light);
		}
	}

	dd {
		display: flex;
		margin-bottom: 40px;
		justify-content: space-between;

		div:last-child {
			font-weight: var(--font-weight-bold);
		}
	}
}
