.table {
	text-align: left;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	tr > th {
		font-weight: var(--font-weight-bold);
		color: var(--secondary);
	}

	td,
	th {
		padding: 0.42rem 0.64rem;
		vertical-align: top;
	}
	td {
		cursor: help;
		&:last-child {
			text-align: right;
			width: 20%;
			font-weight: var(--font-weight-bold);
		}
	}
}
