// Variables
$background: #006eb8; //16a8a3
$accent: #f18626; //e45b6c;
$margin: 40px;

.row {
	margin-top: var(--margin);
}

// Basics
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: $background;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

h1,
h2 {
	font-size: 1.5em;
}

h2 {
	&.sub.header {
		font-size: 1.2rem;
	}
}
.row {
	margin-bottom: $margin;
}

@media only screen and (max-width: 700px) {
	body {
		display: block;
		padding: 1rem;
		height: auto;
	}
}
